$imgPath: "../images/";

$normal: "myriad-pro-condensed";
$regular: "myriad-pro-regular";
$bold: "myriad-pro-condensed-bold";
$colorText: #2c3445;

//@include font-face($regular, font-files("myriad-pro-condensed.woff")); 
//@include font-face($bold, font-files("myriad-pro-condensed-bold.woff")); 
